@define-color Mauve rgb(203,166,247);
@define-color Base rgb(30,30,46);
@define-color Mantle rgb(24,24,37);
@define-color Crust rgb(17,17,27);
@define-color Text rgb(205,214,244);

* {
    font-family: "JetBrains Mono Nerd Font Propo";
    font-size: 16px;
}

window#waybar {
    background: @Base;
    color: @Text;
}
#workspaces button {
    border: 2px solid @Crust;
    border-radius: 0px;
}
#workspaces button.active {
    border: 2px solid @Mauve;
    border-radius: 0px;
}
#clock {
    padding: 0px 10px;
}
#cpu {
    padding: 0px 10px;
}
